  @import "./admin-styles/mixin";

  $color1:white;
  $color2:rgba(46,46,46);
  $color3:rgba(0,104,136);

  // home style start 
.home{
    padding:2rem 5%;
    display: flex;
    flex-direction:column;
    height:calc(100vh - 4rem);
    width: 100%;
    > section {
        width: 100%;
        height: 18.75rem;
        margin:auto;
        background-image: url("../assets/cover.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        
    }
    > h1{
          @include heading(1px);
          margin-top:3rem;
          @include flex(row,space-between,center);
          
          > .findmore{
            font-size:1rem;
         }
         
        }
      

    > main {
       width: 100%;
       flex:1;
       display: flex;
       gap:1rem;
       overflow-x: auto;
       &::-webkit-scrollbar{
        display: none;
       }


    }
}


//  productCard style start
.productCard{
  width:18.75rem;
  height: 25rem;
  padding: 1rem;
  flex: none;  
  position: relative;
  background-color: $color1;
  @include flex(column,flex-start,center,4px);

  img {
      @include square(calc(18.75rem - 3rem));
      object-fit: cover;
      margin: 1rem;
  }

   p {
    font-size: 0.8rem;
    font-weight: 100;
  }

   span {
    font-size: 0.8rem;
    font-weight: 100;
  }
  
> .productCartHover {
  &:hover{
    opacity:1;
  }
}

   
   .productCartHover {
    opacity: 0;
     position:absolute;
     @include square(100%);
     top:0;
     left:0;
     background-color: #0000006b;
     @include flex();      
     > button{
      @include flex();
      @include square(3rem);
      border-radius: 100%;
      border: none;
      background-color: $color3;
      cursor: pointer;
      color:$color1;
      font-size: 1rem;
       transition: all 0.2s;       
      &:hover{
        rotate: 90deg;
      }
  }
}

}




